img {
    width: 200px;
}
body {
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #FFD4E4;
    color:#AD0036
}
.row {
    display:flex;
}
.col {
    display:flex;
}
h1 {
    text-align: center;
}