img {
    width: 200px;
}
body {
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #FFD4E4;
    color:#AD0036
}
.row {
    display:flex;
}
.col {
    display:flex;
}
h1 {
    text-align: center;
}
html {
    scroll-behavior: smooth;
}
button {
    align-items: center;
    box-shadow: 0 0 5px hotpink,
    0 0 25px hotpink;
    color: #FFFFFF;
    background-color: hotpink;
    border: none;
    border-radius: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    padding: 20px;
    margin-bottom:40px;

}
button:hover {
    box-shadow: 0 0 5px hotpink,
    0 0 25px hotpink, 0 0 50px hotpink,
    0 0 100px hotpink, 0 0 200px hotpink;
}
a { color: white; }
a:visited {color: #a36c81;}
a:hover {color:deeppink;}
